venv/
PythonBackendFrameworks/sanjaim/handson_01/coursemanager/coursemanager/__pycache__/
PythonBackendFrameworks/sanjaim/handson_01/coursemanager/courses/__pycache__/
PythonBackendFrameworks/sanjaim/handson_01/coursemanager/courses/migrations/__pycache__/
